BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 0
AlignOperands: false
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true